[Desktop Entry]
Version=1.0
Name=poweroff
Exec=sudo systemctl poweroff
Icon=/home/sb/Downloads/poweroff.png

Terminal=false
Type=Application
Categories=System;TerminalEmulator;
